@import "swiper/css";
@import "swiper/css/pagination";

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  height: 1rem !important;
  width: 1rem !important;
}

.swiper-pagination-bullet {
  background-color: transparent !important;
  border: 2px solid white !important;
  opacity: 0.75 !important;
}
.swiper-pagination-bullet-active {
  background-color: white !important;
  opacity: 1 !important;
}
